*{
    margin: 0px;
    padding: 0px;
}
.Todos{
    background-color: #01479c;
}
.All{
    background-color: #F2DDFE;
    height: 750px;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    color: #01479c;
}
.head{
    display:grid;
    grid-template-columns: 85% 15%;
}
p{
    margin-left: 20px;
}
a{
    margin-left: 20px;
}
input{
    margin-left: 20px;
}
textarea{
    margin-left: 20px;
    width: 600px;
}
select{
    margin-left: 20px;
}
h1{
    margin-left: 20px;
    margin-top: 0px;
}
.botonsubir{
    background-image: linear-gradient(270deg, #F2DDFE 0%, #01479c 100%);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 2, 63);
    font-style: oblique;
    padding: 10px;
    margin-left:20px;
}
.botonExa{
    background-image: linear-gradient(270deg, #F2DDFE 0%, #01479c 100%);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 2, 63);
    font-style: oblique;
    padding: 5px;
    margin-left:20px;
}
table {
   width: 100%;
   border: 1px solid #000;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}
caption {
   padding: 0.3em;
   color: #fff;
    background: #000;
}
th {
   background: #eee;
}